.ctools-cwrc-dtoc-edition-modal-content .modal-header.popups-title,
.ctools-cwrc-dtoc-edition-modal-content .modal-header.popups-title .modal-title,
.ctools-cwrc-dtoc-edition-modal-content .modal-header.popups-title .popups-close {
  display: flex;
}
.ctools-cwrc-dtoc-edition-modal-content .modal-header.popups-title {
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
.ctools-cwrc-dtoc-edition-modal-content .modal-header.popups-title .modal-title,
.ctools-cwrc-dtoc-edition-modal-content .modal-header.popups-title .popups-close {
  flex-direction: column;
}
.ctools-cwrc-dtoc-edition-modal-content .modal-header.popups-title .modal-title {
  flex: 4;
  white-space: initial;
}
.ctools-cwrc-dtoc-edition-modal-content .modal-header.popups-title .popups-close {
  flex: 1;
  float: none;
  text-align: center;
}

div.ctools-modal-content #edit-curator-id {
  font-size: 1.5em;
  margin-top: 1em;
}
div.ctools-modal-content #edit-curator-id label {
  display: inline-block;
  width: auto;
  float: none;
}
div.ctools-modal-content #edit-curator-id label + span {
  display: inline-block;
  margin-bottom: 0.38197em;
}
